ssl.truststore.password=password
ssl.truststore.location=/Users/cabarros/Projects/learning/personal/real_time_analytics_airline/kuberentes/truststore.jks
security.protocol=SASL_SSL
sasl.mechanism=SCRAM-SHA-512
sasl.jaas.config=org.apache.kafka.common.security.scram.ScramLoginModule required username="kafkauser" password="WLf13csRue1RJ1Pf3064tOKZlnasNv6s";
